.app{
  display: grid;
  background-color: #dadbd3;
  height: 102vh;
}
.app__body{
  display: flex;
  background-color: #ededed;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0,0,0,0.75);
}
